<h1>Summaries</h1>
<div class="container">
  <div class="row">
  	<% @user.summaries.each do |summary| %>
    <div class="col-md-4">
      <div class="panel panel-default">
		<div class="panel-heading">
            <h3> <%= @user.post_title %> </h3>
         </div>

          <div class="panel-body">
            <p> <%= @user.summary_entry %> </p>
          </div>
       </div>
    </div>
    <% end %>
  </div>
</div>