<%if current_user %>
<h2>Goals</h2>
	
	<div>
			<div id="user_goals">
				<div class="flex">
					<ul class="list-group">
		<% @goals.each do |goal| %>
		
						<li class="list-group-item"><%= goal.set_goal %></li>
		<% end %>
			<ul>
				</div>
			</div>
	</div>

<% end %>
