/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face{font-family:'proxima_nova_rgbold';src:url('../fonts/proximanova-bold-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_novasemibold';src:url('../fonts/proximanova-semibold-webfont.ttf') format('truetype');font-weight:normal;font-style:normal;}
@font-face{font-family:'proxima_novalight';src:url('../fonts/proximanova-light-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_rgregular';src:url('../fonts/proximanova-regular-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_novaregular_italic';src:url('../fonts/proximanova-regularitalic-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_thinthin';src:url('../fonts/proximanova-thin-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_condensedlight';src:url('../fonts/proximanovacond-light-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_cn_rgregular';src:url('../fonts/proximanovacond-regular-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_condensedRgIt';src:url('../fonts/proximanovacond-regularit-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_condensedSBd';src:url('../fonts/proximanovacond-semibold-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'proxima_nova_cn_ththin';src:url('../fonts/proximanovacond-thin-webfont.ttf') format('truetype');font-weight:normal;font-style:normal}

/*************************** FONTS */

// Proxima Nova
$proxima-nova: "proxima_nova_rgregular";
$proxima-nova-bold: "proxima_nova_rgbold";
$proxima-nova-semibold: "proxima_novasemibold";
$proxima-nova-light: "proxima_novalight";
$proxima-nova-italic: "proxima_novaregular_italic";
$proxima-nova-thin: "proxima_nova_thinthin";

// Proxima Nova Condensed
$proxima-nova-condensed: "proxima_nova_cn_rgregular";
$proxima-nova-condensed-bold: "proxima_nova_condensedSBd";
$proxima-nova-condensed-light: "proxima_nova_condensedlight";
$proxima-nova-condensed-italic: "proxima_nova_condensedRgIt";
$proxima-nova-condensed-thin: "proxima_nova_cn_ththin";

.proxima-nova { font-family: $proxima-nova; }
.proxima-nova-bold { font-family: $proxima-nova-bold; }
.proxima-nova-semibold { font-family: $proxima-nova-semibold; }
.proxima-nova-thin { font-family: $proxima-nova-thin; }
.proxima-nova-light { font-family: $proxima-nova-light; }
.proxima-nova-italic { font-family: $proxima-nova-italic; }
.proxima-nova-condensed { font-family: $proxima-nova-condensed; }
.proxima-nova-condensed-bold { font-family: $proxima-nova-condensed-bold; }
.proxima-nova-condensed-thin { font-family: $proxima-nova-condensed-thin; }
.proxima-nova-condensed-light { font-family: $proxima-nova-condensed-light; }
.proxima-nova-condensed-italic { font-family: $proxima-nova-condensed-italic; }

.hidden {
    display: none;
}

/*************************** NAVIGATION BAR STYLES */
.main_logo{
  width: 150px;
  padding-top: 7px;
  margin-left: 15px;
}

.top_left_icon{
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 11px;
}

.navbar {
    margin-bottom: 0px;
    padding-right: 62px;
}


.navbar-fixed-top {
  background-color: #FF8A3B;
  height: 61px;
  margin-bottom: 0px;
  border-radius: 0px;
}
.welcome-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 61px;
  margin-bottom: 0px;
  border-radius: 0px;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 81px;
    z-index: 1030;
}

.nav a {
  color: #f4f4f4;
  text-decoration: none;
  font-family: $proxima-nova-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #394046;
}



.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 21px;
}

.nav .nav-sidebar > li > a {
  position: relative;
  display: block;
  padding: 10px 19px;
}

.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 81px;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #2E353B;
}


.sidebar .nav > li > a {
  position: relative;
  display: block;
  padding-left: 18px;
}

.sidebar .nav > li {
  width: 200px
}

#side-icons span{
    background:#2E353B;
    border: 5px solid #2E353B;
    color: #fff;
    font-size: 11px;
    height: 30px;
    width: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    position: relative;
    text-align: center;
    top: 0px;
    left: -12px;
    display:none;
    padding:0 20px;
    
}

#side-icons span:after{
    content:'';
    position:absolute;
    bottom:-10px; 
    width:10px;
    height:10px;
    border-bottom:5px solid #2E353B;
    border-right:5px solid #2E353B;
    background:#2E353B;
    top: 30%;
    right:98%;
    margin-left:-10px;
    -moz-transform:rotate(125deg);
    -webkit-transform:rotate(125deg);
    transform:rotate(130deg);
}
#side-icons ul{
    position:relative;
    cursor:pointer;
}

#side-icons li:hover span{
    display:block;
}

/*************************** Login Form Style */

#greeting {
  padding-left: 125px;
  padding-top: 35px;
  padding-right: 125px;
}

.templatemo-login-form-2 {
  background-color: rgba(13,13,13,0.25);
  border-radius: 8px;
  color: #fff;
  font-weight: 300;
  max-width: 650px;
  padding: 0 30px 30px 30px;
  margin: 30px auto 0 auto;
}
.templatemo-login-form-2 h1 { color: #fff; margin-bottom: 40px; }
.templatemo-login-form-2 a { color: #DBDBDB; }
.templatemo-login-form-2 .form-control {
  background-color: rgba(83, 78, 78, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.27);
  color: rgb(255,255,255);
}
.templatemo-login-form-2 .templatemo-input-icon-container .fa { color: rgb(190, 190, 190); }
.templatemo-login-form-2 .control-label { margin-bottom: 10px; }
.templatemo-login-form-2 .btn { width: 100%; }
.templatemo-login-form-2 .btn-social { max-width: 220px; }
.templatemo-login-form-2 label { font-weight: 400; }
.templatemo-login-form-2 .templatemo-one-signin { border-right: 1px solid rgba(200, 200, 200, 0.5); }


/*************************** FOUNDATION STYLES */


body {
    height: 100%;
    margin-left: 80px;
    margin-top: 61px;
    margin-right: 0px;
    font-family: $proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #00C5C5;
    background: #EDEFF0; 
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    text-align: center;
    font-family: $proxima-nova-bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #00C5C5;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 15px;
    line-height: 1.5;
}


/********************************** Circle Avatar Styles */

.circle {
  line-height: 0;   /* remove line-height */ 
  display: inline-block;  /* circle wraps image */
  margin: 5px;
  margin-left: 24px;
  border-radius: 50%; /* relative value */
  border: 3px solid white;/* border width   */
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);  
  transition: linear 0.25s;
}
.circle img {
  border-radius: 50%; /* relative value for
           adjustable image size */
}
.circle:hover {
  transition: ease-out 0.3s;
  transform: scale(0.8) rotate(20deg);
}
a.circle { color: transparent; } /* IE fix: removes blue border */  

/*************************** PROGRESS BAR STYLES */
.round-progress-wrapper{
  width: auto;
  position: relative;
  padding-left: 90px
}

/*************************** Header Styles */

.goal-header {
    margin-left: 425px;
    margin-right: 400px;
}

.summary-header {
    margin-left: 425px;
    margin-right: 400px;
}

/*************************** BODY STYLES */

.bg{
  background: url(Summarise_Header.png) no-repeat fixed;
  position: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top:0;
  left:0;
  z-index: -1;
}

.trophy-container{
  background-color: #f5f5f5;
  position: fixed;
  width: 100%;
  display: block;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
}

.book-button {
  float: right;
}

/******************* CONTAINER/SECTION STYLES */

.jumbotron p {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 200;
}

.jumbotron {
  padding: 30px;
  width: 100%;
  height: 240px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #fff;
}

.wrap {
    position: relative;
    margin: 3em;
    overflow: hidden;
}

.well {
  display: inline-block;
  height: 225px;
  width: 200px;
  overflow: hidden;
}

#trophycase {
  margin-right: 10px;
  margin-left: 10px;
}




.container { 
  width: 100%;
}

.flex ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/******************* USER PROFILE PAGE */
#user_goals{
  display: inline-block;
  height: 150px;
  width: 300px;
  padding-left: 50px;
  overflow: hidden;
}

#profile-description p {
  font-size: 12px; color: #2E353B;
  text-align: center;
  margin-top: 5px;
}



/* Frame */
.frame { 
  padding-left: 50px;
  padding-top: 25px; 
  height: 250px;
  overflow: scroll; 
}
.frame .slidee { 
  margin: 0; padding: 1em; 
}


/* Scrollbar */
.scrollbar {
  margin: 0 0 1em 0;
  height: 2px;
  background: #ccc;
  line-height: 0;
}
.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #292a33;
  cursor: pointer;
}
.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

/* Pages */
.pages {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;
}
.pages li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
  background: #aaa;
}
.pages li.active {
  background: #666;
}

/* Controls */
.controls { margin: 25px 0; text-align: center; }

/* One Item Per Frame example*/
.oneperframe { height: 300px; line-height: 300px; }
.oneperframe ul li { width: 1140px; }
.oneperframe ul li.active { background: #333; }

/* Crazy example */
.crazy ul li:nth-child(2n) { width: 100px; margin: 0 4px 0 20px; }
.crazy ul li:nth-child(3n) { width: 300px; margin: 0 10px 0 5px; }
.crazy ul li:nth-child(4n) { width: 400px; margin: 0 30px 0 2px; }

.items { margin: 0; padding: 5px; list-style: none; }
.items li { 
  float: left; 
  width: 235px; 
  height: 300px; 
  margin: 5px; 
  line-height: 300px; 
  font-size: 40px; color: #fff; background: #292a33; text-align: center; }
