<% if current_user %>
    <div class="col-lg-1 col-sm-1 col-md-1 sidebar">
          <ul class="nav nav-sidebar">
            <li><%= link_to "Profile", user_path(current_user.username) %></li>
            <li><%= link_to 'Summaries', summary_path %></li>
            <li><%= link_to 'Library', '#' %></li>
            <li><%= link_to 'Goals', goal_path(current_user.username) %></li>
          </ul>
    </div>
<% end %>

